<div class="padding-bottom-1-5rem" *ngIf="displayHeadertOnPage && headerDisplay === 'top'">
  <ms-header *ngIf="header" [header]="header"></ms-header>
</div>

<div class="padding-bottom-1-5rem" *ngIf="displaySlidersOnPage && slideDisplay === 'top'">
  <ms-slider *ngIf="slidersData" [sliders]="slidersData.slides"></ms-slider>
</div>

<div class="padding-bottom-1-5rem" *ngIf="displayHottestOnPage && hottestDisplay === 'top'">
  <ms-hottest-releases></ms-hottest-releases>
</div>

<div id="releases-div" class="padding-bottom-1-5rem">

  <ms-banner *ngIf="displayHeadingOnPage" [backgroundImage]="imgUrl" [title]="'Releases'" [titleItalic]="''" [textTitle]="title"
    [text]="description">
  </ms-banner>

  <ms-breadcrumb [steps]="['Home','Releases']"></ms-breadcrumb>

  <div class="d-flex align-items-stretch flex-column flex-md-row">
    <div id="filters-div">
      <filters-form [isFiltersReleases]="true" [shops]="shops" [styles]="styles" [categories]="categories" [brands]="brands" [samePage]="true" (filterEventEmiter)="filter($event)"></filters-form>
    </div>

    <div id="product-table-div" *ngIf="releases">
      <releases-table [sortId]="sortId" [brands]="brands" [releases]="releases" [shops]="shops" [styles]="styles"
        (sortByPriceEvent)="sortByPrice($event)">
      </releases-table>
    </div>
  </div>

</div>

<div class="padding-bottom-1-5rem" *ngIf="displayHeadertOnPage && headerDisplay === 'bottom'">
  <ms-header *ngIf="header" [header]="header"></ms-header>
</div>

<div class="padding-bottom-1-5rem" *ngIf="displaySlidersOnPage && slideDisplay === 'bottom'">
  <ms-slider *ngIf="slidersData" [sliders]="slidersData.slides"></ms-slider>
</div>

<div class="padding-bottom-1-5rem" *ngIf="displayHottestOnPage && hottestDisplay === 'bottom'">
  <ms-hottest-releases></ms-hottest-releases>
</div>
