<div id="hottest-release-slider-div" *ngIf="hotItems.length > 0">

  <div class="d-flex flex-column-reverse">

    <ngb-carousel id="hrs-carousel">

      <ng-container *ngFor="let item of sliders">
        <ng-template ngbSlide>
          <div class="hrs-slide">
            <div class="wrapper-div">
              <!--<div class="hot-image-div">-->
                <!--<img class="height-50px" src="assets/images/hot-release-fire.svg">-->
              <!--</div>-->

              <img class="w-100 h-100 fit-cover" [src]="item.imgUrl" alt="{{item.description}}}">

              <div class="carousel-caption">
                <a class="mb-3">
                  <button class="btn btn-outline-dark rounded-0 mb-1 mb-md-2 mb-lg-3 md px-2 px-md-4 py-2 hrs-button
                            font-weight-light text-uppercase">
                    <!--<span>{{item.modelName | textOverflow:21 }}</span>-->
                    <span class="ml-2 font-italic" (click)="routeFromClick(item)">"{{item.description | textOverflow:44}}"</span>
                  </button>
                </a>
              </div>

            </div>
          </div>
        </ng-template>
      </ng-container>

    </ngb-carousel>

  </div>

</div>
