$color-brown: rgb(196, 90, 26);

$orange-text: rgb(196, 90, 26);
$dark-gray-text: rgb(48, 48, 48);

$light-gray-background: rgb(242, 243, 242);
$orange-background: rgb(255, 121, 40);

$light-gray-text: #ccc;
