<div id="page-header d-flex">

  <!--header class="ml-md-5 mr-md-0 mx-2 d-flex align-items-center flex-column flex-sm-row">

    <a href="#" class="my-2 my-md-4">
      <img class="img-fluid mx-auto" src="assets/images/logo.png">
    </a>

    <div class="mb-2 mb-md-0 ml-sm-auto">
      <search></search>
    </div>

  </header-->

  <div class="d-flex mx-2 mx-md-0">
    <ms-navigation></ms-navigation>

    <!--<ms-whats-new-collaps-menu></ms-whats-new-collaps-menu>-->
    <!--<ms-brands-collaps-menu></ms-brands-collaps-menu>-->
    <!--<ms-categories-collaps-menu></ms-categories-collaps-menu>-->
    <!--<ms-shops-collaps-menu></ms-shops-collaps-menu>-->
  </div>

</div>
