<!--<div class="mt-5" id="ms-latest-new-div">

  <div id="latest-news-header " class="d-flex justify-content-center my-2 mt-3 mb-2 pt-md-3 mb-md-4">
    <h1 class="font-weight-light mr-3 text-uppercase">Latest</h1>
    <h1 class="font-weight-light font-italic text-uppercase">News</h1>
  </div>

  <div *ngFor="let new of latestNews; let odd = odd; let even = even" class="news-div mb-4 position-relative">
    <div class="wrapper-div">
      <div *ngIf="odd"
           class="background-left h-100 d-none d-lg-block">
        <img src="assets/images/latest-news/left-trapecius.svg">
      </div>

      <div *ngIf="even"
           class="background-right h-100 d-none d-lg-block">
        <img src="assets/images/latest-news/right-trapecius.svg">
      </div>

      <div *ngIf="even" class="d-flex flex-column flex-lg-row pr-0 pr-lg-3 h-100">
        <span class="img-div position-relative">
          <div class="wrapper-div">
            <img [src]="new.image">
          </div>
        </span>

        <span class="news-body ml-lg-auto ml-2 ml-lg-0 mr-lg-3 pt-2 pt-lg-3 text-right d-flex flex-column">
          <div class="text-uppercase news-title">
            {{new.title | textOverflow:36}}
          </div>
          <div class="news-date">
            {{new.date}}
          </div>

          <div class="news-resume" innerHTML="{{new.resume | cleanHtml | textOverflow:200 }}">
          </div>

          <div class="mb-2 mt-auto mr-2 mr-lg-0">
            <a [href]="new.link">
              <button class="btn btn-outline-dark text-uppercase news-button">
                Read More
              </button>
            </a>
          </div>
        </span>
      </div>

      <div *ngIf="odd" class="d-flex flex-column-reverse flex-lg-row pl-0 pl-lg-3 h-100">

        <span class="news-body ml-2 ml-lg-3 pt-2 pt-lg-3 text-right text-lg-left d-flex flex-column">
          <div class="text-uppercase news-title">
            {{new.title | textOverflow:36 }}
          </div>

          <div class="news-date">
            {{new.date}}
          </div>
          <div class="news-resume" innerHTML="{{new.resume | cleanHtml | textOverflow:200}}">
          </div>

          <div class="mb-2 mt-auto mr-2 mr-lg-0">
            <a [href]="new.link">
              <button class="btn btn-outline-dark text-uppercase news-button">
                Read More
              </button>
            </a>
          </div>
        </span>

        <span class="img-div position-relative">
          <div class="wrapper-div">
            <img [src]="new.image">
          </div>
        </span>
      </div>

    </div>
  </div>

</div>-->
<div class="padding-60px">

  <div class="section-title" data-aos="fade-in" data-aos-delay="100">
    <h2>Latest News</h2>
  </div>

  <!-- ======= Cta Section ======= -->
  <div *ngFor="let new of latestNews; let odd = odd; let even = even">

    <section class="cta mb-3" [ngStyle]="{
                  'background': 'linear-gradient(rgb(103 176 209 / 51%), rgb(103 176 209 / 55%)), url(' + new.image + ') fixed center center',
                  'background-repeat': 'no-repeat',
                  'background-size': 'cover'
                }">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>{{new.title | textOverflow:36}}</h3>
          <p innerHTML="{{new.resume | cleanHtml | textOverflow:200 }}"></p>
          <a class="cta-btn" [href]="new.link">Read More</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

  </div>

</div>
