<div *ngIf="shops" class="portfolio services">

  <div class="d-flex flex-wrap mb-3">
    <div *ngFor="let letter of letters; let index = index; let last = last"
         class="letter-box"
         [class.last-letter-box]="last" [class.empty]="shopsByLetter[index].length == 0">
      <div class="wrapper-div d-flex">
        <a [href]="'shops#' + localIDForLinks[index]" class="d-inline-block w-100 text-center">
          {{letter}}
        </a>
      </div>
    </div>
  </div>

  <div *ngFor="let groupOfShopsByLetter of shopsByLetter; let index = index; let last = last">
    <div *ngIf="groupOfShopsByLetter.length > 0" [id]="localIDForLinks[index]"
         class="d-flex flex-wrap justify-content-left mb-1">

      <div class="w-100 mt-3 mb-4 d-flex flex-row">
        <span class="mr-3 header-letter" [class.last-letter-header]="last"> {{letters[index]}} </span>
        <hr class="letter-line-separator">
      </div>

      <div class="row">
        <div *ngFor="let shop of groupOfShopsByLetter" class="pl-3" >
          <div class="icon-box w-100 h-100" data-aos="fade-up" [ngStyle]="{
                  'background-image': 'url(' + shop.mainImage + ')',
                  'color': '',
                  'background-repeat': 'no-repeat',
                  'background-size': 'cover'
                }">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a [routerLink]="['/shops/details', getRoute(shop.name)]">{{shop.name}}</a></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
