<!--<div id="up-coming-div" class="d-flex flex-wrap py-4">

  <div class="pr-xl-4 col-12 col-md-8 col-lg-4 mb-2 mb-md-0 pl-md-5
              align-self-center d-flex justify-content-center height-300px" id="coming-soon-header">
    <div class="ml-md-2 d-inline-flex flex-column justify-content-space-between">
      <div>
        <div class="ml-md-1 coming-soon-label font-weight-light">MORE UPCOMING</div>
        <div class="ml-md-2 coming-soon-label font-weight-light font-italic">RELEASES</div>
      </div>
      <div class="padding-bottom-15px">
        <a class="" [routerLink]="['/releases/upcoming']">
          <button class="btn btn-outline-dark w-100 rounded-0 font-italic">
            SEE ALL
          </button>
        </a>
      </div>
    </div>
  </div>

  <div class="flex-row flex-wrap pr-xl-8 col-12 col-md-8 col-lg-8 mb-2 mb-md-0 pl-md-5
              align-self-center d-flex justify-content-center">
    <div *ngFor="let item of comingItems"
      class="col-xl-3 col-6 col-md-3 col-lg-3 px-1 pl-md-2 pr-md-0 pb-2 pb-md-0 rounded-0 border-0">

      <div class="d-flex flex-column align-content-end card rounded-0 border-0 px-0 h-100 w-100">

        <div class="d-flex flex-column align-items-start px-3 py-3 mt-3 card-header border-0">
          <div class="card-title pb-2 mb-auto h4 text-center w-100 font-weight-normal">
            {{ item.name | textOverflow: 46 }}
          </div>
        </div>

        <div class="pt-3 card-body padding-bottom-none padding-top-none">
          <img class="img-fluid" [src]="item.mainImage">
        </div>

        <div class="card-footer px-2 pb-3 border-0">
          <a [routerLink]="['/releases', item.slug]">
            <button class="btn btn-outline-dark w-100 rounded-0 font-italic">
              SEE MORE DETAILS
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>-->
<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="row no-gutters">
      <div class="content col-xl-5 d-flex align-items-stretch" data-aos="fade-up">
        <div class="content">
          <h3>MORE UPCOMING RELEASES</h3>
          <p>
            Vea nuestros proximos lanzamientos.
          </p>
          <a class="about-btn cursor-pointer" [routerLink]="['/releases/upcoming']">SEE ALL<i class="bx bx-chevron-right"></i></a>
        </div>
      </div>
      <div class="col-xl-7 d-flex align-items-stretch">
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <section id="team" class="team">

              <div class="container width-100vh">

                <div class="row">

                  <div class="col-lg-4 col-md-6" *ngFor="let item of comingItems; let i = index">
                    <div class="member" data-aos="fade-up">
                      <h4 class="pt-1">{{ item.name | textOverflow: 46 }}</h4>
                      <div class="pic"><img [src]="item.mainImage" class="img-fluid img-coming-soon" alt="" [style.height.px]="imgHeigth"></div>
                      <div class="member-info max-height-40px">
                        <span>{{ item.releaseDate | date: 'MMMM d' }}</span>
                        <div class="social">
                          <div class="text-center">
                            <button class="coming-soon-button" [routerLink]="['/releases', item.slug]" >DETAILS</button></div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </section><!-- End Team Section -->
          </div>
        </div><!-- End .content-->
      </div>
    </div>

  </div>
</section><!-- End About Section -->
