<div class="padding-bottom-1-5rem" *ngIf="displayHeadertOnPage && headerDisplay === 'top'">
  <ms-header *ngIf="header" [header]="header"></ms-header>
</div>

<div class="padding-bottom-1-5rem" *ngIf="displaySlidersOnPage && slideDisplay === 'top'">
  <ms-slider *ngIf="slidersData" [sliders]="slidersData.slides"></ms-slider>
</div>

<div class="padding-bottom-1-5rem" *ngIf="displayHottestOnPage && hottestDisplay === 'top'">
  <ms-hottest-releases></ms-hottest-releases>
</div>

<div id="categories-div" class="padding-bottom-1-5rem">

  <ms-banner *ngIf="displayHeadingOnPage" [backgroundImage]="imgUrl ? imgUrl : category.imgUrl"
             [title]="'Categories'"
             [titleItalic]="''"
             [textTitle]="title ? title : category.name"
             [text]="description ? description : category.description">
  </ms-banner>

  <section id="services" class="services pb-0">
    <div class="w-100">

      <div class="section-title" data-aos="fade-in" data-aos-delay="100">
        <h2>Categories</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>
    </div>
  </section>


  <div class="d-flex align-items-stretch align-items-stretch flex-column flex-md-row pt-3">
    <div id="filters-div">
      <filters-form *ngIf="showFilter" [isFiltersReleases]="true" [inputFilters]="filters" [shops]="shops" [styles]="styles" [categories]="categories" [brands]="brands" [samePage]="true" (filterEventEmiter)="filter($event)">
      </filters-form>
    </div>

    <div id="product-table-div">
      <releases-table   [brands]="brands"
                        [categoryPage]="true"
                        [releases]="releases"
                        [shops]="shops"
                        [styles]="styles"
                        (sortByPriceEvent)="sortByPrice($event)">
      </releases-table>
    </div>
  </div>

  <ms-hottest-release-slider [categoryId]="categoryId"></ms-hottest-release-slider>

</div>

<div class="padding-bottom-1-5rem" *ngIf="displayHeadertOnPage && headerDisplay === 'bottom'">
  <ms-header *ngIf="header" [header]="header"></ms-header>
</div>

<div class="padding-bottom-1-5rem" *ngIf="displaySlidersOnPage && slideDisplay === 'bottom'">
  <ms-slider *ngIf="slidersData" [sliders]="slidersData.slides"></ms-slider>
</div>

<div class="padding-bottom-1-5rem" *ngIf="displayHottestOnPage && hottestDisplay === 'bottom'">
  <ms-hottest-releases></ms-hottest-releases>
</div>
