h1 {
  font-family: TitilliumWeb;
  font-size: 3.18rem;
  color: #303030;
  line-height: 1;
}

.news-div {
  background-color: #f8f8f8;
  position: relative !important;
  padding-bottom: 23.7% !important;
}

.news-title {
  font-family: OpenSans;
  font-weight: 600;
  font-size: 2.3rem;
  color: #303030;
  line-height: 1;
}

.news-date {
  font-family: OpenSans;
  font-weight: 200;
  font-size: 1.02em;
  color: #a0a0a0;
  margin-top: 0.35em;
}

.news-resume {
  font-family: OpenSans;
  font-weight: 200;
  font-size: 0.9em;
  margin-bottom: 0.5rem;
  height: 5.4rem !important;
  line-height: 1.5;
  overflow: hidden;
}

.news-body {
  width: 28%;
  z-index: 200;
}

.background-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40%;
  z-index: 100;
}

.background-right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40%;
  z-index: 100;
}

.left-triangle {
  position: absolute;
  z-index: 100;
  left: 0;
}

.right-triangle {
  position: absolute;
  z-index: 100;
  right: 0;
}

.triangle-text {
  font-family: TitilliumWeb;
  position: absolute;
  z-index: 200 !important;
}

.left-triangle-text {
  top: 1rem;
}

.right-triangle-text {
  bottom: 0;
  right: 0;
}

.img-blogs {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.triangle {
  height: 100% !important;
  overflow: hidden;
}

.img-div {
  position: relative;
  width: 72%;
  padding-bottom: 15% !important;
  z-index: 50;
}

.conflictive {
  height: 100% !important;
}

.news-button {
  border-radius: 0;
  font-style: italic;
  text-transform: uppercase;
  font-family: TitilliumWeb;
  font-size: 1.1em;
  padding: 0.3rem 1.8rem;
  color: #000;
}

.news-button:hover {
  color: white;
  background-color: #282828;
}

@media (max-width: 1200px) {
  .news-title {
    font-size: 1.5em;
    text-align: left !important;
  }

  .news-date {
    font-size: 0.8rem;
  }

  .news-resume {
    font-size: 0.75rem;
  }
}
@media (max-width: 992px) {
  .news-div {
    padding-bottom: 61.312% !important;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.8em;
  }

  .news-title {
    font-size: 1.7em;
    text-align: left !important;
  }

  .news-date {
    font-size: 0.82em;
    text-align: left !important;
  }

  .news-resume {
    text-align: justify !important;
    width: 95% !important;
    margin-right: auto !important;
    font-family: OpenSans;
    font-weight: 200;
    font-size: 0.64em;
    height: auto !important;
  }

  .news-body {
    width: 100%;
    flex-grow: 100;
  }

  .img-div {
    width: 100%;
    padding-bottom: 30% !important;
  }

  .triangle {
    height: 33% !important;
  }

  .triangle-text h3 {
    font-size: 0.9rem !important;
  }

  .right-triangle .img-triangle {
    transform: translateY(-50%);
  }

  .right-triangle-text {
    top: 4.8rem;
  }

  .conflictive {
    height: auto !important;
  }
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 2.3em;
  }

  .news-div {
    padding-bottom: 91.968% !important;
  }

  .news-title {
    font-size: 1.5em;
  }

  .news-date {
    font-size: 0.64em;
  }

  .news-resume {
    font-family: OpenSans;
    font-weight: 200;
    font-size: 0.5em;
  }

  .img-triangle {
    height: 200%;
  }
}
#pagination-div, #pagination-div a {
  color: #b6b6b6;
}

/*# sourceMappingURL=blogs-table.component.css.map */
