h1.section-title {
  font-family: TitilliumWeb;
  font-size: 3.18rem;
  color: rgb(48, 48, 48);
}

@media screen and (max-width: 768px) {
  h1.section-title {
    font-size: 2.8em;
  }
}

@media screen and (max-width: 576px) {
  h1.section-title {
    font-size: 2.1em;
  }
}
