<div class="padding-bottom-1-5rem" *ngIf="displayHeadertOnPage && headerDisplay === 'top'">
  <ms-header *ngIf="header" [header]="header"></ms-header>
</div>

<div class="padding-bottom-1-5rem" *ngIf="displaySlidersOnPage && slideDisplay === 'top'">
  <ms-slider *ngIf="slidersData" [sliders]="slidersData.slides"></ms-slider>
</div>

<div class="padding-bottom-1-5rem" *ngIf="displayHottestOnPage && hottestDisplay === 'top'">
  <ms-hottest-releases></ms-hottest-releases>
</div>

<div id="ms-whats-new-div" class="padding-bottom-1-5rem">

  <ms-banner *ngIf="displayHeadingOnPage" [backgroundImage]="imgUrl" [title]="'What&rsquo;s'" [titleItalic]="'New'"
    [textTitle]="title" [text]="description">
  </ms-banner>

  <section id="services" class="services pb-0">
    <div class="w-100">

      <div class="section-title" data-aos="fade-in" data-aos-delay="100">
        <h2>Whats News</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>
    </div>
  </section>

  <ms-advertisement></ms-advertisement>

  <div class="d-flex align-items-stretch flex-column flex-md-row">
    <div *ngIf="showFilter" id="filters-div">
      <filters-form [isFiltersOffers]="true" [shops]="shops" [styles]="styles" [categories]="categories" [brands]="brands" [samePage]="true"
        [inputFilters]="filters" [inputBrands]="[]" (filterEventEmiter)="filter($event)"></filters-form>
    </div>

    <div id="product-table-div">
      <ms-product-table [brands]="brands" [listViewMode] = "true" [offers]="offers" [releases]="releases" [shops]="shops" [styles]="styles"
        [buttonText]="'GET THEM NOW'" (sortByPriceEvent)="sortByPrice($event)"></ms-product-table>
    </div>
  </div>

  <ms-our-partners [pageId]="'whats_new'" [deals]="deals" [offers]="AllOffers" [releases]="releases" [shops]="shops">
  </ms-our-partners>

</div>

<div class="padding-bottom-1-5rem" *ngIf="displayHeadertOnPage && headerDisplay === 'bottom'">
  <ms-header *ngIf="header" [header]="header"></ms-header>
</div>

<div class="padding-bottom-1-5rem" *ngIf="displaySlidersOnPage && slideDisplay === 'bottom'">
  <ms-slider *ngIf="slidersData" [sliders]="slidersData.slides"></ms-slider>
</div>

<div class="padding-bottom-1-5rem" *ngIf="displayHottestOnPage && hottestDisplay === 'bottom'">
  <ms-hottest-releases></ms-hottest-releases>
</div>
