<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">

    <div class="section-title" data-aos="fade-in" data-aos-delay="100">
      <h2>Most Popular Shops</h2>
    </div>

    <div class="row justify-content-around height-50vh">
      <div *ngFor="let shop of shops; let first = first; let last = last" class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box w-100 h-100" data-aos="fade-up" [ngStyle]="{
                  'background-image': 'url(' + shop.mainImage + ')',
                  'color': '',
                  'background-repeat': 'no-repeat',
                  'background-size': 'cover'
                }">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4 class="title"><a [routerLink]="['/shops/details', getRoute(shop.name)]">{{shop.name}}</a></h4>
        </div>
      </div>

    </div>

  </div>
</section>
