#our-partners-div {

  h1 {
    font-family: TitilliumWeb;
    font-size: 3.18rem;
    color: rgb(48, 48, 48);
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 2.8em;
    }
  }

  @media screen and (max-width: 576px) {
    h1 {
      font-size: 2.1em;
    }
  }

  ::ng-deep {
    #our-partners-carousel .carousel-indicators li {
      display: none !important;
    }

  .nav-tabs .nav-link {
      border: rgb(236, 237, 239) solid 1px;
      border-bottom-width: 0 !important;
      border-radius: 0;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
      position: relative;
      color: #2f4d5a;
      z-index: 2;
      height: 100% !important;
    }

    .nav-tabs .nav-item {
      margin-bottom: 0;
    }

    .nav-tabs .nav-link.active {
      background: rgba(103, 176, 209, 0.8);
      color: white;
    }

    .nav-tabs .nav-link:hover {
      font-weight: bold;
    }

    .our-partners-button {
      color: rgb(40, 40, 40);
      font-size: 2.5em;
      font-family: TitilliumWeb;
      font-weight: lighter;
      line-height: 1;

    }

    @media screen and (max-width: 1200px) {
      .our-partners-button {
        font-size: 1.8em;
      }

      h1 {
        font-size: 1.5em;
      }

      .carousel-caption {
        bottom: 1.4em;
        padding-bottom: 1em;
      }
    }

    @media screen and (max-width: 768px) {
      .our-partners-button {
        font-size: 0.8rem;
      }

      h1 {
        font-size: 1.5rem;
      }

      .carousel-caption {
        bottom: 0.75rem;
        padding-bottom: 1rem;
      }

      .nav-tabs .nav-link {
        font-size: 0.7rem;
      }
    }

    @media screen and (max-width: 576px) {
      .our-partners-button {
        font-size: 0.55rem;
      }

      h1 {
        font-size: 1.15rem;
      }

      .carousel-caption {
        bottom: 0.3rem;
        padding-bottom: 0;
      }

      .nav-tabs .nav-link {
        font-size: 0.55rem;
      }
    }

    .our-partners-button:hover {
      color: white;
      background-color: rgb(40, 40, 40);
    }
  }

  .our-partners-slide {
    width: 100%;
    position: relative;
    padding-bottom: 39.634%;
  }

}

img{
  width: 100% !important;
  height: 100% !important;
}
