#styles-parent-div {

  ::ng-deep .mat-tree-node {
    min-height: 10px !important;
    height: 30px !important;
  }

  ::ng-deep .mat-checkbox {
    font-family: OpenSans;
    font-weight: 200;
    color: black !important;;
  }

  ::ng-deep .mat-icon {
    color: darkgray !important;
    font-size: 1.4rem !important;
  }

  ::ng-deep .mat-checkbox-frame {
    border-radius: 0 !important;
    border: solid 1px black !important;
  }

  mat-tree-node[style="padding-left: 40px"] {
    padding-left: 20px !important;
  }

  mat-tree-node {
    font-size: 1rem !important;
  }

  mat-tree-node[style="padding-left: 80px"] {
    padding-left: 40px !important;

  }

  ::ng-deep .mat-checkbox-layout {
    margin-bottom: 0px !important;
  }

}
