<div id="release-calendar-header-div" class="d-flex flex-wrap py-4">

  <div class="pr-xl-4 col-12 col-md-8 col-lg-4 mb-2 mb-md-0 pl-5 align-self-center d-flex justify-content-center" id="coming-soon-header">
    <div class="ml-2 py-4 d-inline-flex flex-column">
      <div class="ml-1 coming-soon-label font-weight-light">RELEASE</div>
      <div class="ml-2 coming-soon-label font-weight-light font-italic">CALENDAR</div>
    </div>
  </div>

  <div class="pr-xl-4 col-12 col-md-8 col-lg-6 mb-2 mb-md-0 pl-5 align-self-center d-flex justify-content-center">
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">{{ title }}</h4>
      </div>
      <div class="timeline-body">
        <p>{{ description }}</p>
      </div>
    </div>
  </div>

</div>
