@import '../../../../styles/global/colors';

#hottest-release-calendar {

  h1 {
    font-family: TitilliumWeb;
    font-size: 3.18rem;
    color: $dark-gray-text;
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 2.8em;
    }
  }

  @media screen and (max-width: 576px) {
    h1 {
      font-size: 2.1em;
    }
  }

  ::ng-deep {
    #our-partners-carousel .carousel-control-prev-icon {
      background-image: url("/assets/images/our-partners/slide-prev-button.svg");
    }

    #our-partners-carousel .carousel-control-next-icon {
      background-image: url("/assets/images/our-partners/slide-next-button.svg");
    }

    .nav-tabs .nav-link {
      border: rgb(236, 237, 239) solid 1px;
      border-bottom-width: 0 !important;
      border-radius: 0;
      text-transform: uppercase;
      font-style: italic;
      color: black;
      font-family: TitilliumWeb;
      font-size: 1.3rem;

    }

    .nav-tabs .nav-item {
      margin-bottom: 0;
    }

    .nav-tabs .nav-link.active {
      background-color: rgb(255, 121, 40);
      color: white;
      border-color: rgb(255, 121, 40);
    }

    .nav-tabs .nav-link:hover {
      font-weight: bold;
    }

    ul.nav {
      border-bottom: solid 2px black;
    }

    .our-partners-button {
      color: rgb(40, 40, 40);
      font-size: 2.5em;
      font-family: TitilliumWeb;
      font-weight: lighter;
      line-height: 1;

    }

    @media screen and (max-width: 1025px) {
      .our-partners-button {
        font-size: 2.3em;
      }

      h1 {
        font-size: 1.5em;
      }

      .carousel-caption {
        bottom: 1.4em;
        padding-bottom: 1em;
      }
    }

    @media screen and (max-width: 768px) {
      .our-partners-button {
        font-size: 1.3em;
      }

      h1 {
        font-size: 1.5em;
      }

      .carousel-caption {
        bottom: 0.75em;
        padding-bottom: 1em;
      }
    }

    @media screen and (max-width: 576px) {
      .our-partners-button {
        font-size: 0.75em;
      }

      h1 {
        font-size: 1.15em;
      }

      .carousel-caption {
        bottom: 0.3em;
        padding-bottom: 0;
      }
    }

    .our-partners-button:hover {
      color: white;
      background-color: rgb(40, 40, 40);
    }
  }

}

::ng-deep .carousel-control-next {
  flex-direction: row-reverse;
  justify-content: end;
  margin-right: 1.63em;
}

::ng-deep .carousel-control-prev {
  justify-content: start;
  margin-left: 1.63em;
}