<!--<div id="shops-collaps-menu-div" class="collaps-menu-div position-relative" [class.collapsed]="!visible"
  [class.visible]="visible">

  <span class="collapse-menu-close-btn" (click)="hideMenu()">
    <img src="assets/images/collapsible-menu-close.svg">
  </span>
  <div *ngIf="allShopsToShow" class="d-flex flex-column shops-list">

    <div *ngIf="showAllItems">
      <div *ngFor="let item of shippingCountries" class="mb-1">
        <a class="text-uppercase cursor-pointer" [routerLink]="['/shops']"
          [queryParams]="{'shippingCountries': item.id}">
          {{item.name}}
        </a>
      </div>
    </div>
    <div *ngIf="!showAllItems">
      <div *ngFor="let item of shippingCountries.slice(0, 4)" class="mb-1">
        <a class="text-uppercase cursor-pointer" [routerLink]="['/shops', getRouterName(item.name)]">
          {{item.name}}
        </a>
      </div>
    </div>
    <div *ngIf="!showAllItems">
      <button class="font-italic btn btn-outline-dark collaps-menu-see-btn
                       rounded-0 mt-3 text-left pl-3" [routerLink]="['/shops']">
        SEE ALL
        <span class="float-right mr-2 ml-4">
          <i class="fas fa-chevron-right"></i>
        </span>
      </button>
    </div>

    <div *ngIf="showAllItems">
      <button class="font-italic btn btn-outline-dark collaps-menu-see-btn
                         rounded-0 mt-3 text-left pl-3" (click)="seeAllItem(false)">
        SHOW LESS
        <span class="float-right mr-2 ml-4">
          <i class="fas fa-chevron-right"></i>
        </span>
      </button>
    </div>

  </div>
</div>-->


<div *ngIf="showAllItems">
  <li *ngFor="let item of shippingCountries" >
    <a class="text-uppercase cursor-pointer" [routerLink]="['/shops']"
       [queryParams]="{'shippingCountries': item.id}">
      {{item.name}}
    </a>
  </li>
</div>

<div *ngIf="!showAllItems">
  <li *ngFor="let item of shippingCountries.slice(0, 4)" >
    <a class="text-uppercase cursor-pointer" [routerLink]="['/shops']"
       [queryParams]="{'shippingCountries': item.id}">
      {{item.name}}
    </a>
  </li>
</div>

<li *ngIf="!showAllItems">
  <a class="text-uppercase cursor-pointer" [routerLink]="['/shops']">
    SEE ALL
    <span class="float-right mr-2 ml-4">
            <i class="fas fa-chevron-right"></i>
    </span>
  </a>
</li>

<li *ngIf="showAllItems">
  <a class="text-uppercase cursor-pointer" (click)="seeAllItem(false)">
    SHOW LESS
    <span class="float-right mr-2 ml-4">
            <i class="fas fa-chevron-right"></i>
    </span>
  </a>
</li>
