<ms-banner *ngIf="displayHeadingOnPage" [backgroundImage]="imgUrl" [title]="'Home'"
           [textTitle]="title" [text]="description">
</ms-banner>

<ms-coming-soon></ms-coming-soon>

<div class="" *ngIf="displayHeadertOnPage && headerDisplay === 'top'">
  <ms-header *ngIf="header" [header]="header"></ms-header>
</div>


<div class="" *ngIf="displayHottestOnPage && hottestDisplay === 'top'">
  <ms-hottest-releases></ms-hottest-releases>
</div>


<div class="" *ngIf="displaySlidersOnPage && slideDisplay === 'top'">
  <ms-slider *ngIf="slidersData" [sliders]="slidersData.slides"></ms-slider>
</div>

<div id="home-page-div" class="">

  <ms-latest-news></ms-latest-news>

  <ms-our-partners [pageId]="'home'" [deals]="deals" [offers]="offers" [releases]="releases" [shops]="shops">
  </ms-our-partners>

  <!--<ms-social-section></ms-social-section>-->

</div>

<div class="" *ngIf="displayHeadertOnPage && headerDisplay === 'bottom'">
  <ms-header *ngIf="header" [header]="header"></ms-header>
</div>


<div class="" *ngIf="displayHottestOnPage && hottestDisplay === 'bottom'">
  <ms-hottest-releases></ms-hottest-releases>
</div>

<div class="" *ngIf="displaySlidersOnPage && slideDisplay === 'bottom'">
  <ms-slider *ngIf="slidersData" [sliders]="slidersData.slides"></ms-slider>
</div>

