<div id="collections-div" class="padding-bottom-1-5rem">
  <ms-banner [backgroundImage]="imgUrl"
    [title]="'Collections'"
    [subtitleLine1]="collection ? collection.name : ''"
    [textTitle]="title"
    [text]="description">
  </ms-banner>

  <div class="d-flex align-items-stretch flex-column flex-md-row flex-grow-1">

    <ngb-tabset [destroyOnHide]=false class="flex-grow-1" id="collectios-tabset" justify="justified">

      <ngb-tab>
        <ng-template ngbTabTitle>SHOP BY STYLE</ng-template>
        <ng-template ngbTabContent>

          <div>

            <releases-table [showPrice]="false" [itemsPerRow]="5" [releases]="releases" [shops]="shops" [styles]="styles" [brands]="brands" [disabledSort]="true" (sortByPriceEvent)="sortByPrice($event)">
            </releases-table>

          </div>

        </ng-template>

      </ngb-tab>

      <ngb-tab>

        <ng-template ngbTabTitle>SHOP BY STORE</ng-template>
        <ng-template ngbTabContent>
          <div>

            <collection-shops-table [showDetails]="false" [offers]="offers" [releases]="releases" [shops]="shops" [disabledSort]="true" (sortByPriceEvent)="sortByPrice($event)">
            </collection-shops-table>

          </div>
        </ng-template>
      </ngb-tab>

    </ngb-tabset>


  </div>
</div>
